body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 600px;
}

h1,ul,p{
    margin: 0px;
}

ul{
    padding: 0xp;
    list-style: none;
}

.header-bg{
    background-color: #000;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
}